# Creating A bucket in GCP

In [2]:
import os
from pprint import pprint
from google.cloud import storage




os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'resourcebusy-testing-9c296e198f25.json'

storage_client = storage.Client()



bucket_name = 'resoucebusymanan_555'

bucket = storage_client.bucket(bucket_name)
bucket.storage_class = 'STANDARD' # Archive | Nearline | Standard
bucket.location = 'US' # Taiwan
bucket = storage_client.create_bucket(bucket)

<ipython-input-2-75b1d793e65e>:18: DeprecationWarning: Assignment to 'Bucket.location' is deprecated, as it is only valid before the bucket is created. Instead, pass the location to `Bucket.create`.
  bucket.location = 'US' # Taiwan

In [1]:
try:
    from google.cloud import storage
    import google.cloud.storage
    import json
    import os
    import sys
except Exception as e:
    print("Error:{}".format(e))

# Starting of GCP

In [2]:
PATH=os.path.join(os.getcwd(),'resourcebusy-testing-9c296e198f25.json')
os.environ['GOOGLE_APPLICATION_CREDENTIALS']=PATH

# Create a client object

In [3]:
storage_client=storage.Client(PATH)

In [4]:
storage_client

# Getting all files from GCP bucket

In [6]:
bucket=storage_client.get_bucket('resource_manan')

In [7]:
filename=[filename.name for filename in list(bucket.list_blobs(prefix=''))]
filename

['/MYI.png',
 '/MYI12.jpg',
 '/MYIq.jpg',
 '/index.html',
 '/mMYI12.jpg',
 '1 st day of bi.pbix',
 'Olympic Games medal Dataset(from 1896 to 2018).csv',
 'Screenrecoder.txt',
 'bad.jpg',
 'base.html',
 'templates/index.html',
 'update.html']

#Download the file from GCP

In [8]:
blop=bucket.blob(blob_name='Olympic Games medal Dataset(from 1896 to 2018).csv').download_as_string()

In [14]:
with open('Mananfil222.csv',"wb") as f:
    f.write(blop)

In [ ]:
import pandas as pd
df=pd.read_csv('Mananfil222.csv')

# Pushing a file on GCP BUcket

In [31]:
filename='Mananfil222.csv'

In [32]:
UPLOADFILE=os.path.join(os.getcwd(),filename)

In [33]:
bucket=storage_client.get_bucket('resource_manan')
blob=bucket.blob(filename)
blob.upload_from_filename(UPLOADFILE)

# Reading the file directly from GCP

In [22]:
import pandas as pd
import io
from io import BytesIO

In [23]:
df=pd.read_csv(io.BytesIO(bucket.blob(blob_name='Mananfil222.csv').download_as_string()) , encoding='UTF-8',sep=',')

In [25]:
df.head()

,Team(IOC Code),summer_rank,s_gold,s_silver,s_bronze,summer_total,winter_rank,w_gold,w_silver,w_bronze,winter_total,overall_rank,total_gold,total_silver,total_bronze,total_medals
0,Afghanistan (AFG),14,0,0,2,2,0,0,0,0,0,14,0,0,2,2
1,Algeria (ALG),13,5,4,8,17,3,0,0,0,0,16,5,4,8,17
2,Argentina (ARG),24,21,25,28,74,19,0,0,0,0,43,21,25,28,74
3,Armenia (ARM),6,2,6,6,14,7,0,0,0,0,13,2,6,6,14
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

# Delete the file from Bucket

In [34]:
filename=[filename.name for filename in list(bucket.list_blobs(prefix=''))]
filename

['/MYI.png',
 '/MYI12.jpg',
 '/MYIq.jpg',
 '/index.html',
 '/mMYI12.jpg',
 '1 st day of bi.pbix',
 'Mananfil222.csv',
 'Olympic Games medal Dataset(from 1896 to 2018).csv',
 'Screenrecoder.txt',
 'bad.jpg',
 'base.html',
 'templates/index.html',
 'update.html']

In [35]:
DELETE_FILES='Mananfil222.csv'

In [36]:
bucket=storage_client.get_bucket('resource_manan')
blob=bucket.blob(DELETE_FILES)

In [37]:
blob.delete()

In [38]:
filename=[filename.name for filename in list(bucket.list_blobs(prefix=''))]
filename

['/MYI.png',
 '/MYI12.jpg',
 '/MYIq.jpg',
 '/index.html',
 '/mMYI12.jpg',
 '1 st day of bi.pbix',
 'Olympic Games medal Dataset(from 1896 to 2018).csv',
 'Screenrecoder.txt',
 'bad.jpg',
 'base.html',
 'templates/index.html',
 'update.html']